@page "/client/list"
@using MechanicApp.UI.Services
@using MechanicApp.Shared
@inject IClientService ClientService

<h3>Clients List</h3>

@if (Clients is null)
{
    <p>Loading..</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Details of clients</th>
            <th>Jobs of clients</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var client in Clients)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.Address</td>
                <td>@client.Email</td>
                <td><a href="/client/@client.ClientId" class="btn btn-primary">Details</a></td>
                <td><a href="/client/@client.ClientId/jobs" class="btn btn-light">Jobs</a></td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Client>? Clients { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Clients = await ClientService.GetAllClientAsync();
    }
}
